# dependencies
/node_modules
/.pnp
.pnp.js
cache/
.pnpm-store/

# misc
.DS_Store
*.pem
.idea/

# debug
npm-debug.log*
.pnpm-debug.log*

# local env files
.env*.local

# env file
.env

# typescript
*.tsbuildinfo

# build artifacts
dist
tmp