# yaml-language-server: $schema=../schema.json
options:
  interchainFeeConstants:
    - addressOrDenom: ibc/BF3B4F53F3694B66E13C23107C84B6485BD2B96296BB7EC680EA77BBA75B4801
      amount: 10000
      destination: forma
      origin: stride
    - addressOrDenom: atia
      amount: 10000000000000000
      destination: stride
      origin: forma
tokens:
  - addressOrDenom: stride1h4rhlwcmdwnnd99agxm3gp7uqkr4vcjd73m4586hcuklh3vdtldqgqmjxc
    chainName: stride
    collateralAddressOrDenom: ibc/BF3B4F53F3694B66E13C23107C84B6485BD2B96296BB7EC680EA77BBA75B4801
    connections:
      - token: ethereum|forma|0x832d26B6904BA7539248Db4D58614251FD63dC05
    decimals: 6
    name: TIA
    standard: CwHypCollateral
    symbol: TIA
  - addressOrDenom: "0x832d26B6904BA7539248Db4D58614251FD63dC05"
    chainName: forma
    connections:
      - token: cosmos|stride|stride1h4rhlwcmdwnnd99agxm3gp7uqkr4vcjd73m4586hcuklh3vdtldqgqmjxc
    decimals: 18
    name: TIA
    standard: EvmHypNative
    symbol: TIA
